In [1]:
import pandas as pd

In [2]:
COCO_CATEGORIES = [
    {"color": [0, 0, 0], "isthing": 1, "id": 0, "name": "background"},
    {"color": [220, 20, 60], "isthing": 1, "id": 1, "name": "person"},
    {"color": [0, 200, 32], "isthing": 1, "id": 2, "name": "giant_panda"},
    {"color": [0, 0, 142], "isthing": 1, "id": 3, "name": "lizard"},
    {"color": [0, 100, 230], "isthing": 1, "id": 4, "name": "parrot"},
    {"color": [106, 0, 228], "isthing": 1, "id": 5, "name": "skateboard"},
    {"color": [0, 60, 100], "isthing": 1, "id": 6, "name": "sedan"},
    {"color": [0, 80, 100], "isthing": 1, "id": 7, "name": "ape"},
    {"color": [0, 20, 100], "isthing": 1, "id": 8, "name": "dog"},
    {"color": [50, 0, 70], "isthing": 1, "id": 9, "name": "snake"},
    {"color": [0, 0, 192], "isthing": 1, "id": 10, "name": "monkey"},
    {"color": [250, 170, 30], "isthing": 1, "id": 11, "name": "hand"},
    {"color": [100, 170, 30], "isthing": 1, "id": 12, "name": "rabbit"},
    {"color": [220, 220, 0], "isthing": 1, "id": 13, "name": "duck"},
    {"color": [175, 116, 175], "isthing": 1, "id": 14, "name": "cat"},
    {"color": [250, 0, 30], "isthing": 1, "id": 15, "name": "cow"},
    {"color": [165, 42, 42], "isthing": 1, "id": 16, "name": "fish"},
    {"color": [255, 77, 255], "isthing": 1, "id": 17, "name": "train"},
    {"color": [0, 226, 252], "isthing": 1, "id": 18, "name": "horse"},
    {"color": [182, 182, 255], "isthing": 1, "id": 19, "name": "turtle"},
    {"color": [0, 82, 0], "isthing": 1, "id": 20, "name": "bear"},
    {"color": [199, 100, 0], "isthing": 1, "id": 21, "name": "motorbike"},
    {"color": [72, 0, 118], "isthing": 1, "id": 22, "name": "giraffe"},
    {"color": [255, 179, 240], "isthing": 1, "id": 23, "name": "leopard"},
    {"color": [0, 125, 92], "isthing": 1, "id": 24, "name": "fox"},
    {"color": [209, 0, 151], "isthing": 1, "id": 25, "name": "deer"},
    {"color": [188, 208, 182], "isthing": 1, "id": 26, "name": "owl"},
    {"color": [0, 220, 176], "isthing": 1, "id": 27, "name": "surfboard"},
    {"color": [255, 99, 164], "isthing": 1, "id": 28, "name": "airplane"},
    {"color": [92, 0, 73], "isthing": 1, "id": 29, "name": "truck"},
    {"color": [133, 129, 255], "isthing": 1, "id": 30, "name": "zebra"},
    {"color": [78, 180, 255], "isthing": 1, "id": 31, "name": "tiger"},
    {"color": [0, 228, 0], "isthing": 1, "id": 32, "name": "elephant"},
    {"color": [174, 255, 243], "isthing": 1, "id": 33, "name": "snowboard"},
    {"color": [45, 89, 255], "isthing": 1, "id": 34, "name": "boat"},
    {"color": [134, 134, 103], "isthing": 1, "id": 35, "name": "shark"},
    {"color": [145, 148, 174], "isthing": 1, "id": 36, "name": "mouse"},
    {"color": [120, 166, 157], "isthing": 1, "id": 37, "name": "frog"},
    {"color": [110, 76, 0], "isthing": 1, "id": 38, "name": "eagle"},
    {"color": [174, 57, 255], "isthing": 1, "id": 39, "name": "earless_seal"},
    {"color": [110, 76, 60], "isthing": 1, "id": 40, "name": "tennis_racket"},
]

In [3]:
df = pd.DataFrame(COCO_CATEGORIES)
df.head()

           color  isthing  id         name
0      [0, 0, 0]        1   0   background
1  [220, 20, 60]        1   1       person
2   [0, 200, 32]        1   2  giant_panda
3    [0, 0, 142]        1   3       lizard
4  [0, 100, 230]        1   4       parrot

In [4]:
df["mid"]=df['id']
df.head()

           color  isthing  id         name  mid
0      [0, 0, 0]        1   0   background    0
1  [220, 20, 60]        1   1       person    1
2   [0, 200, 32]        1   2  giant_panda    2
3    [0, 0, 142]        1   3       lizard    3
4  [0, 100, 230]        1   4       parrot    4

In [5]:
df = df[['id','mid','name']]
df.columns = ['index','mid','display_name']
df.head()

   index  mid display_name
0      0    0   background
1      1    1       person
2      2    2  giant_panda
3      3    3       lizard
4      4    4       parrot

In [6]:
df.to_csv('label_index.csv',index=False)